 <div class="flex flex-wrap  p-5  justify-center m-10 gap-5 rounded">
 @for(product of products; track product.id){
  
  <div class="border h-[70vh] rounded-lg p-4 w-[500px] border-amber-700 flex flex-col gap-2 justify-start items-center">
    
    <img class="w-full h-80 object-cover" [src]="product.image" alt="" />
    <h4>{{ product.title }}</h4>
    <p class="text-lg"> Price : {{ product.price }}$</p>
     <small class="text-gray-400">{{product.description}}</small>
     <p> {{product.rating.rate}} 💫</p>
  </div>

  }
 </div>

